[2017-02-17 16:28] zheoreh opened #4 "ReferenceError: util is not defined"
[0] /home/neo/projects/dm-iwish/node_modules/ulog/node.js:12
[0] 			logger = function(){stream.write(util.format.apply(this, arguments) + '\n')}
[0] 			                                 ^
[0]
[0] ReferenceError: util is not defined
[0]     at Object.logger (/home/neo/projects/dm-iwish/node_modules/ulog/node.js:12:37)
[0]     at Object.<anonymous> (/home/neo/projects/dm-iwish/node_modules/just-wait/

[2017-02-20 15:11] zheoreh commented on #4
@Download Can you resolve it sooner. I use just-wait module and it uses your module. Thanks.

[2017-02-20 16:35] Download commented on #4
I will have a look! Thanks for reporting it.

[2017-02-20 16:47] Download commented on #4
@zheoreh
Can you please get the new version of node.js and replace the file
`/home/neo/projects/dm-iwish/node_modules/ulog/node.js`
with the new version and see if that resolves it?

If so, I will promptly create a new version of both ulog and just-wait and publish them to NPM.

[2017-02-20 18:18] zheoreh commented on #4
@Download I am sure it will be work)
But I tested and it works.
I wait for a new version of ulog module in NPM.
Thanks.

[2017-02-20 22:39] #4 closed

[2017-02-20 23:13] Download commented on #4
@zheoreh ulog 1.0.2 is on NPM. I will also create a new versio of just-wait and publish that as well.

Feel free to re-open if you still have issues.

[2017-02-21 10:51] zheoreh commented on #4
Thanks. It works fine now.

[2017-03-04 15:49] greenkeeper[bot] opened #5 "An in-range update of cross-env is breaking the build 🚨"
## Version **3.2.0** of [cross-env](https://github.com/kentcdodds/cross-env) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Download/ulog/compare/greenkeeper%2Fcross-env-3.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      cross-env
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-07-13 14:17] #5 closed

[2019-02-16 07:33] gcloeval opened #13 "cannot add custom formats"
Hi, this libraray looks like exactly what I need.
I am trying to add a custom format, but it fails with "Cannot read property 'push' of undefined"

It is with the latest best, I have put a codesandbox here:
https://codesandbox.io/s/731lrno381

If you uncomment the line:
// appLog.formats.push(myFormat);
it will show the exception.

Also not really important for me, but I noticed that TRACE level w

[2019-02-18 11:30] Download commented on #13
Hi @gcloeval

Sorry for the late response I was away this weekend.
About your questions, have a look at my modified version of your example:
https://codesandbox.io/s/6y7qw945rk

As for the formatter: I changed the code to push to `ulog.formats`.
Your issue has made me think. As of this moment, formatters are global to all loggers. It might be better if formatters where more like levels; a global o

[2019-02-18 11:39] Download opened #14 "v2: Add `anylogger` support"
Ulog has a microscopically small footprint of just over 1kB. But we can do better!

[anylogger](https://npmjs.com/package/anylogger) currently has a footprint of just over 500 bytes. We can make `ulog` depend on `anylogger` and only add the missing features. This will make `ulog` the first library with native `anylogger` support.

Libraries can depend on `anylogger` instead of on `ulog` and only a

[2019-02-18 12:01] Download opened #15 "v2: Make `formats` a logger option that is inheritable, like `level`"
The current design is not flexible enough
See #13

[2019-02-18 12:03] Download opened #16 "Fix formatting"
Either don't apply formatting, or do, but the current hybrid design is confusing.

If the inheritable `formats` property is empty, don't apply any formatting and leave line numbers intact
If there are formats configured, make sure all log methods use these formats.

[2019-02-18 12:03] Download commented on #16
See #15 #13

[2019-02-18 12:04] Download commented on #13
I will prepare a new version with some improvements in the coming weeks. I'll ping you when it's published.

[2019-02-21 21:19] gcloeval commented on #13
Hey thanks for the fix.
This is more than enough functionallity for me, but I also agree - it could be useful if formatters could be overriten per module.
That way, I could quickly eye-scan interesting modules by just appending few ----- to the formatter, i.e. for example, given a log statements stream like this:

"redux - Now dispatching getist action"
"middleware - Authenticating user"
"redux -

[2019-03-18 01:50] szerintedmi commented on #13
Thanks for the module, simple, small, like it :)
My 2cents on this from your example:
[code]

I'm not sure about the line numbers issue but I agree formatting applied to `ulog.log`, `.error` etc. would be nice

[2019-05-01 06:22] guopengliang opened #17 "Strip ulog completely from production codes with Webpack/Babel"
Just wondering what is the recommended approach to strip the ulog dependency and related logging codes completely from production codes? Like for instance, with Babel there's the `babel-plugin-transform-remove-console` to remove all `console.*` codes, or with Webpack the `strip-loader` to do so.

[2019-05-21 08:39] Download commented on #17
The way to do this is with the [Webpack DefinePlugin](https://webpack.js.org/plugins/define-plugin/)

Basically, in production builds, you use the define plugin to set `process.env.NODE_ENV` to `'production'`.
Then, in your code, you check this constant:

[code]

The reason this works is that Webpack will actually replace all instances of `process.env.NODE_ENV` with the constant you specified at c

[2019-05-30 08:25] MikeMitterer opened #19 "Typescript support"
Please add TS definitions to your module

[2019-05-31 19:12] Download commented on #19
Can you help me with a PR please?

[2019-05-31 19:31] Download commented on #19
@MikeMitterer
How much do you know about Typescript?

I am working on v2 of ulog and it will be using a new concept. It will be the first native implementation of [anylogger](https://npmjs.com/package/anylogger). The idea behind `anylogger` is to build the most lightweight logging shim I can and then use it as a logging facade. This way libraries can use `anylogger` to do logging and in the applic

[2019-08-06 08:44] johnd0e opened #20 "Unable to use in browser (Uncaught ReferenceError)"
The last version that has no problem is 1.1.0 (https://cdn.rawgit.com/download/ulog/1.1.0/ulog.min.js)

With all versions after that (355d8a94ae6f91497caabb261ec76b287a38e295 and up) I get:
[code]

[2019-08-26 07:22] Download commented on #20
Please stay on 1.1.0 for the time being
I am working on 2.0 but it has some issues as you found

[2019-08-31 20:46] johnd0e commented on #20
Well, I've already started to use v2..
Are there some really critical issues?

[2019-09-03 20:02] Download commented on #20
@johnd0e
Not that I am aware of, no.
But...
It really is a WIP and there will be some breaking changes.

* I am making the API compatible with [anylogger](https://npmjs.com/package/anylogger)
* I am removing the logging methods from the `ulog` function
* I am removing the ability to create unnamed loggers
* I am removing `time`, `timeEnd` etc and other 'dummy' methods that were only there to make

[2019-09-04 06:17] johnd0e commented on #20
Now it's possible to call `ulog.log(...)` directly, but in next update we will need to use `var log = ulog('my'); log.log(...)`
Right?

I am not aware of what you mean. Was it ever documented?

Is it necessary to remove this part?
`localStorage` has some advantage, but in some cases URL query is more convenient.
For example:
- It's easier to share URL (especially when asking someone to check work

[2019-09-04 07:22] Download commented on #20
Yes, that's right. All new features work for named loggers. Especially the new settings feature I am working on allows you to specify settings for classes of loggers and having this static logger makes that harder.

No I don't think it was documented but you could pass empty string and get a logger with empty string as the name

Well... no. I can be convinced otherwise  :)
The reason I was thinkin

[2019-09-04 07:28] #17 closed

[2019-09-04 07:36] johnd0e commented on #20
Yes, it has limitations, and can serve as supplementary way only.
Some thoughts:
- to lower side-effects ulog could rely on #hash-part (instead of ?query=).
- it could restore own url-part on `window.onhashchange` (or other technique)
- it could just be used to import settings to `sessionStorage`.

It would be convenient.
Perhaps some timestamp is necessary to find which of locations to use.

Sure

[2019-09-04 07:48] johnd0e commented on #20
For most cases `sessionStorage` should have priority, but we need some simple way to switch back to `localStorage`.
May be we can just empty it in console, or via url query.

BTW, to keep `ulog` tiny, all 'extra' features could come into some sub-module.

[2019-09-08 10:53] Download commented on #20
I currently came up with this function to read settings from the environment on the browser:

[code]

It is part of a much more advanced settings mechanism I am building for ulog v2. You will be able to configure log levels for individual loggers easily using any of these 3 mechanisms.

Thanks for your feedback here. It is enormously motivating to see people actually using the code I wrote :)

[2019-09-08 10:59] Download commented on #20
Yeah, I've been thinking about this.

Particularly, I am adding some much more advanced formatting and output options. But it takes up valuable space...

I was thinking, maybe I can load the code for the formatters only when you have set the setting to some non-empty value. In pseudo-code:

[code]

The problem is I end up building a script loader if I am not careful. I need a simple yet powerful w

[2019-09-08 13:04] johnd0e commented on #20
May be better keep things simpler, and leave loading part completely on user code.
He can load extra formatter in the same way as he loads `ulog` itself.

[2019-12-30 14:46] johnd0e opened #24 "'Cannot redefine property: name' error on android KitKat WebView"
https://github.com/Download/ulog/blob/fc5a47e5508342dd8e625da80cd3f61036802faf/ulog.js#L40

It's obvious that KitKat webview is based on some old webkit version.
Still it's not clear what exactly is the cause of this issue.

[2020-01-12 20:21] Download commented on #24
Yeah it is mysterious, but I think I have solved it in later anylogger version
I will try to get around to fixing it here by updating dependencies

[2020-01-13 12:40] johnd0e commented on #24
As I understand `ulog.umd.js` is built without using any dependency.
But it causes same error.

[2020-01-13 23:38] Download commented on #24
@johnd0e
Yes it is at the moment...
This lib (or at least version 2 of it) is still in flux quitte a bit, I'm sorry.
I recommend to stay on v1 for now, or try `anylogger`.
In v2 of ulog, the recommendation for client code (code just *using* the logger) will be to use only `anylogger`, like this:

[code]

Then in the main application entry point, include `ulog` just once:

[code]

So if you use any

[2020-01-14 08:23] johnd0e commented on #24
v1 has the same issue.

[2020-03-11 06:19] toddb commented on #14
Any update on this? Can't see support in the code base or a branch. [Docs over here](https://github.com/Download/anylogger#install-in-an-application-project) says:

[2020-05-14 00:42] JackCA commented on #14
I'm also confused by this. The docs in `anylogger` mention multiple times that `ulog` has native support for it. Are we supposed to use a different release?

[2020-05-14 02:00] toddb commented on #14
@JackCA We've forked the relevant repos, made changes and pull requests and are waiting for merges/releases. Until then using the forks until the changes come through. From memory, tiny changes!

[2020-05-14 18:38] JackCA commented on #14
@toddb did you fork `ulog`? I've only found your `anylogger` fork

[2020-05-16 02:30] toddb commented on #14
Both under this identity https://github.com/semanticlink

- https://github.com/semanticlink/anylogger
- https://github.com/semanticlink/ulog

[2020-05-18 14:23] Vadorequest commented on #16
I agree, the current design is confusing. I thought formats didn't work, until I understood I shouldn't use a method like `logger.info()` but `logger()` instead.

[2020-05-18 14:39] Vadorequest opened #28 "License motivations - CC-BY"
Why use such license? I'm wondering about your motivations. (it's not very well suited for software)

Why not MIT or similar?

![image](https://user-images.githubusercontent.com/3807458/82225946-26623a00-9926-11ea-8ef3-a16cc6cb2a50.png)

[2020-05-18 15:15] Vadorequest opened #29 "Usage with Next.js - Tons of logs (circular config?)"
Getting started with ulog, doesn't seem to work fine.
- I get unrelated logs that print the actual `ulog` object 🤔
- I get a circular `name`, because both pages A and B load the `logger.ts` file

PR/branch: https://github.com/UnlyEd/next-right-now/pull/50/files

---

`utils/app/logger.ts`
[code]

### Usage:
[code]

---

### Log output:

[code]

[2020-06-06 00:15] youk commented on #20
Why won't you remove from the readme the below section which is obviously not working for 2.0?

[2020-06-23 13:08] Download commented on #29
Sorry for your inconvenience... I am working on a big migration for ulog and life intervened. I won't be looking into this issue before I finally managed to publish v2.0.0

[2020-06-23 14:36] Vadorequest commented on #29
I understand, please let me know when v2 is released! :)

[2020-06-23 20:13] Download commented on #28
It is the only license I could find that is totally free but does require attribution.
I don't think the 'Not recommended for software' remark was there when I chose it all those years ago...
I have been reconsidering though... my latest project, [anylogger](https://github.com/download/anylogger) is MIT licensed.
Can you give your thoughts? Would MIT be better?

[2020-06-23 20:17] Download commented on #24
@johnd0e
Latest beta version of `ulog` I basically created just for you:
https://github.com/Download/ulog/commit/423ce1c6dc1c8c2a2ecae13e6dbb99308e301eba#diff-376aee9128f6965dd8f0dafec44349b6R49
It is on NPM as 2.0.0-beta.7:
https://www.npmjs.com/package/ulog/v/2.0.0-beta.7

Could you be a doll and try it out for me and let me know whether it fixed your issue?

[2020-06-23 20:37] Vadorequest commented on #28
It's just more usual/common. I usually use MIT myself.
CCA 4.0 is rather rare, and makes wonder about "why".

[2020-06-24 08:23] Download commented on #14
Hi guys, thanks for your enthousiasm! And sorry that I've been unresponsive for a while. Life happened.
Anyway I'm back on the job with `anylogger` and `ulog`. Frankly, I've first made a royal mess of it and then left it out in the cold for way too long and I'm amazed you guys are so patient with it. Thanks!

If you are still interested in these projects, I would urge you to have a look at [anylog

[2020-06-24 09:13] toddb commented on #14
Thanks for the message and I am glad you are back! Personally, using anylogger has been just what we needed except for the typescript support that has come through as pull requests. If you could get those into the packages, I can get back onto your packages.

Cheers

[2020-06-24 21:17] Download commented on #14
Hi @toddb
Can you have a look at [anylogger.d.ts](https://github.com/Download/anylogger/blob/master/anylogger.d.ts)
My problem is I have no experience with TypeScript.
But this file was contributed by a TypeScript user and it *looks* fine to me...
But I need someone with Typescript experience to check it / test it and help me fix the issues (if any)
If you make a PR against the current version of

[2020-06-27 03:18] toddb commented on #14
@Download there is also a pull request in ulog for typings too. Can you get those in too? Then I will update all my references in downstream projects that I have and look at the typescripts declarations. As an aside,

[2020-06-27 03:33] toddb opened #30 "Debug levels and scoped to modules unreliably works"
I wondering if it is just me. I want to change (and also have set) log levels through local storage (in Chrome). It is described [here](https://github.com/Download/ulog#localstorage-key).

On occasion that I have managed to get levels and scoping to work, I have to set BOTH the log level and the scoping. This isn't documented.

For example, I have a module 'Loader' that I want to exclude:

eg I se

[2020-06-27 10:04] johnd0e commented on #24
Yet, all seems fine now, thanks!

[2020-06-27 10:04] #24 closed

[2020-07-25 03:03] toddb commented on #14
@Download Hey, I am just getting back to upgrading libraries and noticed that ulog is still not patched for typescript support which is a pull request in the message above. I need it for my own library!

I am really happy to help out as needed to get these patched and the typings correct—feel free to ping me.

[2020-07-26 07:45] abhi7214 opened #31 "Q: Ulog for mac command line?"
Have been using ulog in the browser and it works well.

I am trying to a script like this "node test.js" in the command line. This JS file includes a library that includes ulog.

webpack:////usr/local/lib/node_modules/ulog/browser.js?:3
var qs = location.search.substring(1),
         ^
ReferenceError: location is not defined

Is there any solution to this? I am writing a test harness for a library

[2020-07-28 12:13] Download commented on #31
Yes, ulog is a universal logger, meaning it works on Node JS as well as browsers. However, you will have to use two different Webpack configurations. Looking at the logs you provided, Webpack is creating a browser bundle for you, so it is including the browser version of ulog.

There are 2 ways you can resolve this:

1. Use ulog directly in Node JS
2. Build a Node JS bundle

### Use ulog directly

[2020-07-28 12:42] Download commented on #14
Hi toddb,

I really value your input. So much so, that I'm willing to publish a new version of ulog just for you.

### My issue

I am rewriting ulog. And yes, that's been taking way more time than I expected/hoped. And I keep getting interrupted with stupid things like work, family and friends etc... :D

Once ulog v2 is released, it will be just another adapter for `anylogger`. So for me, API wise

[2020-07-28 13:01] Download commented on #30
Hi @toddb

Please get my phone number (see your other issue) so we can talk directly via What's App (or at least, so you will be able to ping me when I don't respond) because I have dozens of repos here on github and many times I just don't notice new issues and they just sit here gathering dust... I get so many notifications from Github that I cannot see the forest from the trees.

ulog is import

[2020-07-28 13:05] Download opened #32 "v2: Change license to MIT"
For v2, switch to the MIT license.
CC-BY is currently recommending against using it for software projects.
See #28

[2020-07-28 13:06] Download commented on #28
@Vadorequest
It will be so!

[2020-07-28 13:06] #28 closed

[2020-07-28 13:15] Download commented on #13
@szerintedmi Yes, will be implemented in v2
See #15

[2020-07-28 13:15] #13 closed

[2020-07-28 13:16] Download commented on #16
See #15

[2020-07-28 13:16] #16 closed

[2020-07-28 13:17] #29 closed

[2020-07-28 13:23] Download commented on #20
@youk
Because that part of the README is actually auto-generated.
What I did wrong was publish a beta way to early... so users get confused. Sorry, my bad.
I am closing this issue. Everything that was said here has been taken into consideration for v2:

- Configure from URL will work (will be equivalent to using program arguments in Node JS)
- Configure from localStorage will work (will be equival

[2020-07-28 13:23] #20 closed

[2020-07-28 13:24] Download commented on #19
See #14

[2020-07-28 13:24] #19 closed

[2020-07-28 13:29] youk commented on #20
Thank you.

[2020-07-28 15:26] Vadorequest commented on #29
@Download I see you've released beta2.7, when do you think it'll reach maturity? I'm waiting for it to integrate within NRN https://github.com/UnlyEd/next-right-now 😉

[2020-07-28 17:37] abhi7214 commented on #31
Thank you for the detailed message.

Let me try to build a node-specific webpack configuration (I was missing that step). I will follow your instructions later today, and report back.

On your other questions -
- No, it is a private library.
- Yes, I meant it 'depends' on ulog.
- Yes, I was creating a bundle with Webpack for use in your web project, and trying to test that by including the bundle

[2020-07-28 20:17] abhi7214 commented on #31
Thanks, I got it running by building webpack for node. (simple inclusion of target: node in the configuration file). Your hint pointed me in the right direction.

[2020-07-28 20:18] #31 closed

[2020-11-14 18:38] Download commented on #32
Done

[2020-11-14 18:38] #32 closed

[2020-11-14 18:38] Download commented on #15
Done

[2020-11-14 18:38] #15 closed

[2020-11-14 18:39] Download commented on #14
Done

[2020-11-14 18:39] #14 closed

[2020-11-15 13:24] Download commented on #30
Should work as described now.

[2020-12-07 01:29] taoqf opened #34 "How to set output to a file?"
I could not find any clue about setting of log_output to a file in readme, is there an example?

[2020-12-07 09:42] Download commented on #34
You can set outputs, but there is no file output yet.

You can easily make a custom output like so:

[code]

Then, create a mod that adds this output to `ulog`:

[code]

Then, set the `output` option for a logger to your custom output and it will start to use it.

I haven't yet come up with a mechanism to pass parameters to an output... Either we modify the output option so it can accept parameter

[2020-12-07 09:45] Download commented on #34
Oh also maybe useful: You can change the output at runtime already. That part works. So to experiment with changing the output, change the setting for `log_output` to `drain` and watch how no messages get logged anymore. Or change the setting for `log_drain` to e.g. `console` and see how all messages now get logged. Basically any message within the active level gets sent to `log_output` and any me

[2020-12-07 09:54] taoqf commented on #34
Thanks.

[2020-12-07 09:54] #34 closed

[2020-12-07 11:00] Download opened #35 "`location` not present in React Native"
In some environments that look like browsers, `location` does not exist.
See #23

[2020-12-07 11:10] #35 closed

[2020-12-09 10:19] Download opened #37 "Sort out typescript support"
I would like `ulog` to have typescript support out of the box.

This has been requested multiple times:
* #19
* #21
* #27
* #33

Now is the time to do it as the library design for v2 has mostly stabilized now and the public signature for ulog is mostly clear.
There are some challenges to overcome though.

We have the complex situation that methods and properties are being added to `ulog` and all l

[2020-12-09 10:47] jirutka commented on #37
I already wrote base types a year ago in #21, which I'm using in my projects, I just didn't write tests for them. I will try to get back to it and propose how to deal with extensions later.

[2020-12-09 10:56] Download commented on #37
Yeah I will, if no one else takes the lead, probably end up preparing a PR myself based on your work and the tests of @taoqf
I think the approach using specific Typescript definitions for different entries will be good enough for most users. Also I think your definition already extends the one from `anylogger` right? So I can probably use the same trick to make e.g. ulog.d.ts extend core.d.ts etc.

[2020-12-09 11:17] taoqf commented on #37
@Download I am sorry I do not have much time on this either.
This is the way to extends static members: `use` and `mods':

core.d.ts

[code]

[2020-12-09 11:44] Download commented on #37
@taoqf Thanks! All that stuff is helpful and will help me compile a PR myself eventually if no one has the time to step in. 👍

[2020-12-09 11:58] Vadorequest commented on #37
You might be looking for TS Generics. https://www.typescriptlang.org/docs/handbook/generics.html

It's definitely possible to allow a dynamic implementation of get/set. The base library would define generic types that can be overloaded by the lib that actually implement the method.

[2020-12-09 12:14] Download commented on #37
@Vadorequest Thanks that sounds good!!

[2020-12-09 15:39] Vadorequest commented on #37
Also, this might not be what you want, but it's worth asking.

Did you consider writing ulog in TypeScript? You wouldn't have to write the types separately, and will likely avoid many "out-of-sync" issues between JS and TS in the future.

[2020-12-11 14:53] Download commented on #37
Well yes it might be a good idea to port it over to typescript one day. But I have to learn Typescript first. But for now I want to finish v2.0.0. And I'd like that version to have some 'correct' typescript support. And yes it going out of synch could definitely be an issue. So at the very least I should learn how to test whether the typescript definitions are 'working' so I can check that before

[2020-12-11 15:17] Vadorequest commented on #37
The first thought coming to my mind about "testing the type definitions" would be to write a few unit tests using TS. Either on a different repository, on directly on this one.

That'd likely be enough to test the types. And that could be reused when porting the base code to TS too.

[2020-12-11 15:23] jirutka commented on #37
Sorry, I’m extremely busy now, but I will try to find some time this weekend.

[2020-12-14 16:36] Oksy-d opened #38 "Is it possible to use full/kurly and still have working call stack from browser ?"
Currently as soon as I use kurly stuff, it shows "structured.js" as the caller of the console.log

![ulog](https://user-images.githubusercontent.com/73394632/102108031-b15ed080-3e32-11eb-9a1b-663685a2001b.png)

My config :
`localStorage.setItem('log', 'debug');`
`localStorage.setItem('log_format', '{date}{time}{lvl}{name}{message}{perf};clientUtil=simple;kurly=none');`

My project is running [Vuet

[2020-12-14 20:36] Download commented on #38
Yes you are right. All kurly formatters are dynamic formatters atm.

I am actually working on the formatters at the moment and I'm trying to improve the usefulness of the static formatters. I think I can make them a whole lot more useful than they are now. But I don't see a way of making kurly formatters static. So I'm actually thinking about removing kurly altogether though I am not sure yet. Wat

[2020-12-16 21:13] ifeanyiisitor opened #39 "Can't get the `drain` functionality to work in the browser"
I'm trying to test out the drain functionality in the browser but I'm not sure how to set it up. This is what I tried

[code]

This didn't seem to work, and neither did doing

[code]

I'm expecting the `custom.log` function to be called but it's not being called. How would I get this to work in the browser?

[2020-12-17 17:26] Download commented on #39
Please have a look at [this codepen](https://codepen.io/StijnDeWitt/pen/yLabWgZ). It sets a custom output.
I do think there are still bugs. Setting the drain does not seem to work.

I will keep this issue open for now and report back here. Thank you for your interest in ulog and taking the trouble to report issues. It is much appreciated!

[2020-12-17 18:30] ifeanyiisitor commented on #39
Hey thanks for your reply and glad I can help. Interestingly it seems that it works in the codepen example, yet it doesn't work in my nextjs sample app. I confirmed that its `ulog@2.0.0-beta.10` that I'm installing and I'm doing exactly this...

[code]

Note sure why it works in your codepen but not in my app. Setting `ulog.set('output', 'custom')` works as expected though. So only the `drain` set

[2020-12-17 20:54] Download commented on #39
I have redesigned the way outputs, formats and levels work together (or not!) several times. I think I just messed up between the betas.

[2020-12-17 21:01] Download commented on #39
I'm actually redesigning it yet again. I'm in the process of making static formatters (the ones that don't mess up the call stack) much more powerful and configurable. Formatters work on outputs and the drain and in the process of redesigning the formatting pipeline so it could benefit from static formatters I also am redesigning how outputs and the drain work. So please ignore the issue for the d

[2020-12-17 21:48] ifeanyiisitor commented on #39
👍

[2020-12-30 13:11] kieranbenton opened #40 "Backtrace in Regex makes 2.0.0-beta.10 incompatible with Safari (iPhone 11 Pro Max)"
Causes:

![image](https://user-images.githubusercontent.com/39090/103353267-58cd3b80-4aa0-11eb-9ece-2c07fe9abfb9.png)

I think I've traced it to ulog, specifically https://github.com/Download/ulog/blob/c9aca9010b8daf25ce580fbb1da86d02fd44079f/mods/options/index.js#L70

[2020-12-31 10:25] johnd0e opened #41 "Fail to build on windows"
[code]

[2021-01-03 15:02] Download commented on #41
Mmm that's weird as I'm on Windows myself... Though I have Git for Windows installed, which installs some Unix tools as well, so maybe that's why it's working for me. I am not using `sh` directly anywhere myself so I'm guessing `nyc`, `tape` or `tap-nirvana` is using it somewhere....

Can you maybe try to change the entry in package.json `test` script and remove part(s) of the command to help pinp

[2021-01-03 15:04] Download commented on #40
Yes you are right. I reproduced this in Internet Explorer 11 as well. It's got to do with the lookbehind (or ahead?) in `split(/(?<!\\);/)`. I'm working on it right now. Should be fixed in the next beta.

Thank you for reporting this!

[2021-01-04 15:09] johnd0e commented on #41
Definitely that is not `ulog` fault.
`tape test.js 2>&1 | tap-nirvana` -  no error
`nyc tape test.js` - error

[2021-01-06 10:40] riceyeh opened #42 "replacement for ulog.enable(..) method in version 2."
I am moving to ulog version 2. ulong.enable(...) seems gone in version 2. Is there any replacement for it?

[2021-01-17 22:42] Download commented on #42
I think it will come back in a mod probably.

For now I wanted to keep things pure a bit more. `ulog` supports getting and setting a wide arrangement of options through 2 methods: `ulog.get()` and `ulog.set()`. You can for example get the current level setting via:

[code]

this will give you the global setting. You can also get it for just one logger:

[code]

You can set it via

[code]

The `deb

[2021-01-17 22:56] Download commented on #42
Oh and one more thing. May I ask why you are calling `ulog.enable`?

See, one of the reasons I hesitate against adding these methods back in, is that it seems to tell people to use them.
But actually, I think you are better off not using them.

Unless you are building some logger management module, I suggest you don't set the levels of loggers through code. Instead, rely on the configuration optio

[2021-01-17 22:59] Download commented on #41
You can try to report it to them if you want, but I hope you are ok if I close this issue here. Please re-open if you feel otherwise.

[2021-01-17 22:59] #41 closed

[2021-01-21 14:35] kieranbenton commented on #40
Any luck with this? Do you need a hand?

[2021-01-22 12:10] Download commented on #40
What this regex does, is find semicolons that are *not* preceded by a backslash. The idea was that you can escape semicolons that way. But it is a bit of a fix for a theoretical issue. You don;t need semicolons in any of the config settings as of yet. So I just removed this and changed it to `items.split(';')`. It's more that I am (*again...*) refactoring the formatting which is why the next beta

[2021-01-22 12:19] #40 closed

[2021-01-22 12:22] Download commented on #42
@riceyeh If you have anything more to add, feel free to re-open

[2021-01-22 12:22] #42 closed

[2021-01-22 12:29] Download commented on #38
Ok so I have a small update on this.
Yes, it *will* be possible to use full/kurly with a working call stack.
I am preparing a new v2 release of kurly to support that.
It turns out that I can make a formatter that detects whether you are only using 'static formatters' (see Kurly v2 docs for more info) and if so, creates a static pipeline that does not mess up your call stack. Of course if you need

[2021-01-23 20:00] Download commented on #37
Update: I'm learning Typescript. As an exercise I have added Typescript definitions to project [kurly](https://github.com/download/kurly), which is the only dependency `ulog` has. I am testing it by compiling a *test.ts* file with `tsc`. It seems to be working well. So I think that's a good approach for ulog as well. But I do have some issues with getting exports and imports right. Not a Typescrip

[2021-02-04 14:54] Download commented on #39
@ifeanyiisitor Please check out the latest beta and let me know what you think.
Feel free to re-open if you still encounter issues.

[2021-02-04 14:54] #39 closed

[2021-02-04 14:56] Download commented on #38
@Oksy-d
Please check out the latest beta. It supports formatting with kurly, nicer format strings and preserving the call stack as long as you only use static formats. Oh I also added alignment (nicely lining up all messages in browsers and node) and colors!

Let me know what you think and feel free to re-open or open new issues with your findings.

[2021-02-04 14:56] #38 closed

[2021-02-04 15:00] Download opened #44 "Worker support"
It should be possible to use ulog in (service) workers. And it should be possible to control the logging config of the workers. That last thing is a bit tricky as workers don't have access to `localStorage` for example.

We need to implement a publish / subscribe messaging system using `postMessage` so the ulog in the worker can get it's config from the ulog running on the main thread

[2021-02-04 15:04] Download opened #45 "Tutorial / demo"
### Show, don't tell

* [ ] There are the beginnings of a tutorial in tutorial.html but it's messy atm
* [ ] We should have a codepen!
* [ ] I'd like an animated gif showing some cool features to replace the static screenshot in the README
* More??

[2021-02-04 23:49] Download commented on #42
@riceyeh Try the last beta. I re-enabled the support for `enable`, `enabled` and `disable`.

[2021-02-05 10:49] Download opened #46 "log.config file not processed correctly on change"
Gets into an infinite loop sometimes...

[2021-02-08 23:35] jirutka commented on #37
I’ve spent the last five hours trying to understand ulog modules, how they interoperate, where are various properties created, reverse engineering what types of arguments the functions accept… and writing type declarations. I think that I more or less understand it now. I made a PoC with several modules and I think that it can be finished, but I don’t think it’s worth it anymore. I’m completely ex

[2021-02-09 20:52] MikeM2343 commented on #46
I just started using ulog and it is exactly what I'm looking for. Thank you!
I can confirm that I'm seeing the same issue on version 2.0.0-beta.15 every time I change log.config.
Let me know if you need more info

[2021-02-13 19:07] Download commented on #45
I added a tutorial:

### [`ulog` Tutorial](https://ulog.js.org/tutorial/index.html)

Also, I started on two side-by-side comparisons. Added them to the description above.

[2021-02-13 19:12] Download commented on #46
I have gotten a bit sidetracked working on a [tutorial](https://ulog.js.org/tutorial/index.html). Will get back to fixing this issue soon!

[2021-02-14 17:23] Download commented on #46
Didn't mean to close it right away. Let me first verify that this is indeed fixed.

[2021-02-14 17:27] Download commented on #46
I think it is indeed fixed in [2.0.0-beta.18](https://github.com/Download/ulog/releases/tag/2.0.0-beta.18).

[2021-02-14 17:27] #46 closed

[2021-02-14 18:49] ifeanyiisitor commented on #39
Trying this again. What i'm doing is this

[code]

In the browser, the call `log('foo')` gets sent to drain. But the call `log.warn('warn...')` doesn't and I don't understand why.

[2021-02-14 18:51] ifeanyiisitor opened #47 "Can't quite figure out how the drain functionality works"
I'm doing this

[code]

In the browser, the call `log('foo')` gets sent to drain. But the call `log.warn('warn...')` doesn't and I don't understand why. How can I set this up so that all log levels get sent to drain?

[2021-02-14 19:04] ifeanyiisitor commented on #47
Ok when I pass the query param `?log=none` everything gets sent to drain. So I guess the idea here is that everything except the specified log level get's sent to drain?

[2021-02-14 19:35] ifeanyiisitor commented on #47
Ok I think I see whats happening now. Every log type  that is equivalent to the log level and above (in terms of severity) gets logged out and everything else gets drained. If so, my question then is what is the purpose of drain?. I was assuming that if I wanted to send logs to a remote logging service, I would implement that as `drain`. Is that the case? And if so, does it mean then that once the

[2021-02-14 19:58] Download commented on #47
@ifeanyiisitor
Thanks for your comments. Yes, you are correct in your assumption. Logs get sent to either the `output` channel or to the `drain` channel, depending n whether they are enabled for a certain level or not. So if `enabledFor(level)` returns a truthy value, messages get sent to `output`, otherwise to `drain`.

If you want to send all logging to some service, you can simply set both `out

[2021-02-14 20:10] Download commented on #47
BTW, I advice against this.

And against this as well  😃

In general, I say avoid calling `ulog.set` and assigning to properties on the loggers unless you are writing some tests for the loggers or in very specific circumstances (like you are making a UI to control logging with)

Instead of setting values from code, try to use the configuration mechanism. This will give you much cleaner code and yo

[2021-02-15 13:55] Download opened #48 "Support 'structured logging'"
Many logging frameworks support 'structured logging'.
Client code passes as first parameter an object to the log method, and the fields of this object are copied to the log record.

E.g.:

[code]

In combination with a JSON output, this should give output something like this:

[code]

[2021-02-15 19:29] MikeM2343 commented on #46
Thank you!  That has fixed the problem.

[2021-02-16 14:44] Download commented on #46
Ah great! Thanks for the feedback, it's appreciated.

[2021-02-16 14:45] #47 closed

[2021-02-26 16:48] riceyeh opened #49 "The order to calling ulog.enable(...) and anylogger(...) does matter"
I find the order to calling ulog.enable(...) and anylogger(...) does matter. A logger should be defined first with anylogger('test') and then call ulog.enable('test'), otherwise it would not work. It is counter-intuitive for me. Maybe document should mention this.

Best regards,
Rice Yeh

[2021-03-03 21:38] Download commented on #49
@riceyeh I think I understand, but just to be sure, can you post a piece of example code?

[2021-03-03 21:47] Download commented on #49
I cannot reproduce this with a quick test in the tutorial window.

After having lazy-loaded ulog and logged some test messages to the console, I first `ulog.enable('test')` and then I `anylogger('test').info('Testing')` and it works as expected:

[code]

[2021-03-03 22:14] Download commented on #49
Maybe you load `ulog` too late?
It is very good that you are creating your loggers with `anylogger('name')`. This decouples your code from `ulog`.
However, if you are using `ulog` specific features, such as `ulog.enable`, you must make sure that `ulog` is loaded before any loggers are created. This is easy to do by importing `ulog` in your entrypoint.

For example, suppose your entry point is inde

[2021-03-10 00:28] svenmarley opened #50 "localStorage variables not working - maybe it's me"
I'm new to React, so it might-be/probably-is me.  But, I can't get the localStorage variables to work in my app like they do in the tutorial.  The URL variable **does** work.

I set the Application -> Local Storage -> {local url}
key | value
log | warn; app:re*=all

My loggers are named `app:render`, `app:discover`, `app:updateFile`.

I only want the `app:render` logs to show everything.

It also

[2021-03-10 14:47] Download commented on #50
Also, I'm interested in how you are loading `ulog`. Do you use the script or do you build it yourself with Webpack? And how do you import it? You should import `ulog` in your entrypoint before creating loggers using ``anylogger(name)` so `ulog` can intercept those calls.

[2021-03-10 14:51] Download opened #51 "Lazy loading should respect settings from url in browsers"
Currently, opening the tutorial with https://ulog.js.org/tutorial/index.html?log=debug does not actually trigger lazy loading and no messages are logged when we press the test button.

[2021-03-10 14:52] Download commented on #49
@riceyeh Please re-open if this is still relevant

[2021-03-10 14:52] #49 closed

[2021-03-14 00:49] svenmarley commented on #50
I appreciate your quick feedback.  I got distracted into other _life_ things,_ so that's the reason for the delay.

I don't know what changed, but it is all working great now.  I think it was the realization that the log entries are all lowercase for the loggername, so my App:updateFIle required a log entry like `warn:app:updatef*=all` for it to turn on.  (hell, even in writing this I got it wrong

[2021-03-15 11:28] Download commented on #50
@svenmarley No problem! I'm also sometimes slow to respond. We all have lives right?

About your remark that 'the log entries are all lowercase for the loggername', can you elaborate? Are you saying that if you create a logger with `anylogger('App:updateFile')` you would have to set the key `log` to `warn;app:updatef*=all` for it to work? Because that shouldn't be the case. I expect the casing of

[2021-03-17 21:20] Messj1 opened #52 "[FEATURE][BUG] configurable polling timeout in watch.browser"
Hi

Nice project. Love the modular architecture. :+1:

One thing i was missing was an configurable timeout. Would be nice in production mode to have bigger polling timeout than in development since it get then changed less often. :wink:

So in `watch.browser.js` the hard coded value should be replaced by a variable, maybe a function parameter.
https://github.com/Download/ulog/blob/2aa34192c1804a14

[2021-03-17 23:01] Messj1 opened #53 "[DOC] update channel and output part"
Hi

I used `ulog` in a AMD environment with an high order channel which override the output channel if config `highorder_log` level get reached.
`ulog` is a really nice project for such extending stuff. :muscle:

Would be nice to have some hints in the documentation. So i rewrote the channel an output part cause the channel configuration is part of channel and not the output. Output doesn't get co

[2021-03-17 23:27] svenmarley commented on #50
I just confirmed that the log= entry is case sensitive.  i.e.
log=error;search:findb*=debug    = no log messages
log=error;Search:findB*=debug    = log messages

[2021-03-17 23:31] Messj1 opened #54 "Benchmark"
Hi

The benchmark of the `diary` project seem to be a little unusually since it reconfigure `ulog` every time.
https://github.com/maraisr/diary/blob/0170945748168a5fa4b9b2927371f5d7d20bb3b5/bench/index.ts#L70-L86
[code]

I think you should make an issue that every log framework owner should write the test by himself.

As far as i know is the console log call directly mapped on the logger. So it ca

[2021-03-25 13:09] reinhard commented on #50
Maybe it's the same problem: since 2.0.0-beta.15 `window.localStorage.setItem('log', 'all')` has no effect. After downgrading to beta.14, debug logs show up again.

[2021-03-30 21:21] Download opened #55 "Config polling interval does not stop on resetting config"
_Split off from #52 where @Messj1 wrote:_

BTW: There seems to be a bug :bug: in the code. The interval get not stopped if someone call `ulog.set("log_config", {});`
https://github.com/Download/ulog/blob/2aa34192c1804a143eaf0931fc196c712549a8f0/mods/config/index.js#L43-L44

Maybe a destructor callback would do the trick. At the end, `watch.browser.js` would look something like that:
[code]

[2021-03-30 21:33] Download commented on #53
@Messj1 Wow another great issue! Thanks! You really invested time in this. That is so great. Thank you.

May I ask have you ever contributed to an Open Source project before? Would you like to give it a shot?
I can learn you how to make a pull request and how to contribute your changes to this project. Let me know if this is something you would like to try.

[2021-03-30 21:41] Download commented on #50
@reinhard Can you try this in the [ulog tutorial](https://ulog.js.org/tutorial) and report if it works there for you? It works as expected for me

[2021-03-30 22:05] Download commented on #54
@Messj1 Yes well he is testing a certain scenario in which he wants to intercept log messages and store them in an array. He is setting up the configuration and then logging a message. And then runs that a whole bunch of times. Now I personally don't think that's a very realistic scenario. In fact I think you will most probably create and configure a custom output only at the very start of the pro

[2021-03-31 20:44] Download commented on #50
That certainly helps!

Will investigate this. Sorry for the inconvenience but that's why it's still beta... I need this kind of feedback to get everything working right in all contexts. So thank you very much for contributing with reports like this! Will let you know when I reproduce and finally fix this. May take some time though as I just accepted a new job...

[2021-03-31 21:01] Download commented on #50
@reinhard Oh, I see you `import 'ulog'` in the entry point.
That *should* work... But as a workaround you might try `import 'ulog/full'`. That should not be needed but it might work.
I have been messing around with this a few betas now. Problem is that it's hard to test before actually publishing...

[2021-03-31 22:58] svenmarley commented on #50
Note also - you can easily replicate the case sensitivity here as well.

1. Set log to  "info; My*=debug"  - only info and errors come out
2. Set log to "info; my*=debug"   - and all error types come out

This shows that the value must be case sensitive to the name of the channel.

[2021-04-02 12:06] Download commented on #50
@svenmarley Yes, that is expected behavior

[2021-04-02 12:22] Download commented on #50
@reinhard
Mmm so I guess the problem is that the log statements that are in function `App` don't respect the settings?
Maybe it is a timing issue. Thanks for this repro!

[2021-04-02 12:46] Download opened #56 "Dynamic config is too late"
_Split off from #50_

The reading/watching of the config happens too late.
Log statements can be fired before the config has been read.
The symptom for this is that the config is not respected for these early log statements.
A good reproduction is available in https://github.com/reinhard/ulog-issue-50

[2021-04-02 12:47] Download commented on #50
@reinhard I confirmed your issue and split it off into #50
I will try to fix this for the next beta.
Thank you for the detailed repro! This is exactly the kind of feedback I need to make sure that v2 will work for everyone everywhere.

[2021-04-02 12:49] Download commented on #50
@svenmarley Can you let me know if you still have issues that are not covered by #56 ?
Otherwise I'd like to close this issue as it's getting big but I don't see anything actionable left for me here.

[2021-04-02 22:39] svenmarley commented on #50
I have no other issues outstanding.  I had misunderstood that the log entries are supposed to be case-sensitive.  Everything is working great on my side.  Thanks.

[2021-04-02 22:39] #50 closed

[2021-04-03 17:11] Macavirus opened #57 "How to configure ulog with different levels?"
Thanks for the great library, it's exactly what I was looking for.

I had some problems setting the levels of the logger. It would be great to document how to do this when instantiating through `anylogger`! I couldn't find any examples here, or in `anylogger`'s docs that would allow you to set a default level for all logs on startup. I have tried the `debug` style with setting `DEBUG` from env var

[2021-04-03 23:21] Messj1 commented on #52
@Download I'm not sure why there are two nested `setTimeout` in the interval function. Is there a reason to use asynchronous function call?

https://github.com/Download/ulog/blob/2aa34192c1804a143eaf0931fc196c712549a8f0/mods/config/watch.browser.js#L11-L16

[2021-04-03 23:26] Messj1 commented on #54
Was only as a hint. :wink:

[2021-04-03 23:26] #54 closed

[2021-04-03 23:34] Messj1 commented on #53
@Download What do you think about a mini tutorial with the high_order channel mods i wrote as an example:
https://github.com/FriendsOfTYPO3/frontend_editing/blob/master/Resources/Public/JavaScript/Utils/LoggerPersist.js

*  Create highorder ulog channel.
*  Creates 2 ulog outputs to persist
    * persist: with indexedDb in use
    * server: calling the sendCallback function

[2021-04-04 09:11] Macavirus commented on #57
I think I've resolved this. Seems like I was not loading the env vars BEFORE instantiating ulog, so it did not read the log level and just used the defaults.

[2021-04-04 09:11] #57 closed

[2021-04-04 12:38] Messj1 opened #59 "tests contains inadvertent config properties"
@Download This error seems to be a problem in the test case. The config of ulog contains `{log: 'pass'}` so the log level become `NaN` which is true :grin:

The question now: Why are the configs `log` and `test` either `'ok'` or `'pass'`?

I added some `console` outputs in `mods/config/index.js`:
[code]

Console output:
[code]

_Originally posted by @Messj1 in https://github.com/Download/ulog/issu

[2021-04-07 14:51] Download commented on #52
Ah yes. This is not pure, but there is an issue with the notify sometimes taking too long, so I tried to split up the work. Chrome complains sometimes about setTimeout handler taking too long to complete. This happens when it hovers around the 50ms mark.

[2021-04-07 14:53] Download commented on #53
@Messj1 Yes that's also an option.
But any changes to the code should happen via Pull Requests. This is why I asked you to create one :)

[2021-04-07 15:55] Messj1 commented on #52
@Download I think this doesn't work since it seems to be a problem with the `ext` core function in `notify` :raised_eyebrow:

![ulog - watch browser performance](https://user-images.githubusercontent.com/16447007/113896455-3bf48280-97ca-11eb-8d1e-0c481e0efad2.png)

[2021-04-08 13:26] Messj1 opened #60 "core ext javascript blocking time"
Ah yes. This is not pure, but there is an issue with the notify sometimes taking too long, so I tried to split up the work. Chrome complains sometimes about setTimeout handler taking too long to complete. This happens when it hovers around the 50ms mark.

_Originally posted by @Download in https://github.com/Download/ulog/issues/52#issuecomment-814979290_

[2021-04-08 13:34] Messj1 commented on #60
As shown, there is a problem in core/index.js `ext` function:

The problem is, that this function calls itself with every logger instance. So it would be better to do the logger `ext` call asynchronous.

core/index.js:33
[code]

As example with more than 20 `ulog` instances:

![ulog - core ext performance](https://user-images.githubusercontent.com/16447007/114035602-8a178d80-987f-11eb-95fa-fc86f29

[2021-04-08 16:12] Download commented on #60
Mmmm I think I like this idea!
Thank you thank you for your enthusiasm @Messj1 !!
I will review and merge this asap

[2021-04-15 21:09] mozart27 opened #62 "Is log_config being honored?"
I am having trouble getting `log_config` to be honored.  When I specify log_config like this:

[code]

ulog does not pick up the filename from the log_config env var.

I am likely using this improperly and the example in your documentation does not provide a practical example (it shows `log_config=./my.log.config`).  It is possible I am missing something in the docs though.

I have also tried this

[2021-04-16 15:06] mattdocumatt opened #63 "Ulog doesn't work in Safari"
In Safari, webpage using ulog crash with `SyntaxError: Invalid regular expression: invalid group specifier name` error in console.

For example, in my case, the webapp will not render at all (web page is blank). It looks that it because ulog uses regex lookbehind not supported in Safari at all (even latest 14). It must be a long standing bug. I tried 1.5 year old versions with the same result.

I'

[2021-04-19 06:52] xmedeko opened #64 "Remove dependency on anylogger"
From README.md **https://github.com/Download/ulog#use:**
[code]

However, when I want to use `ulog` without `anylogger`:
[code]
then the `anylogger` is installed anyway because it's in the `packages.json` as `dependencies`. The logger should be independent to logging facade. (IMO logging facade is great for lib development, but I do not find it useful for the app development.)

[2021-04-20 19:32] xmedeko opened #65 "Disable log_color programatically"
* `ulog` version: 2.0.0-beta.18

I cannot disable `log_color` programmatically for all loggers. I have tried
[code]
But if I create a logger afterwards `const log = ulog("my")`, it logs with colors. (Same with `log_align`).

Note: disabling or excluding whole `colors` mod would be also fine.

[2021-04-27 21:28] toddb commented on #30
@Download I have tried and tried and I still don't get this functionality working. Do you have it working and perhaps in a pen? This is the killer feature I need (oh, as well as typescript support #37 :-) )

[2021-04-27 21:35] toddb commented on #37
@jirutka I am going to keep using it because I am too deep in. However, agreed with the rest around understandability (and being too clever).

@Download I would add that you are seeing other incompatibilities (eg #63) that you don't need to solve with the right build chain set (eg using browerlist). I think the advice above should be taken seriously if you want ulog and anylogger to be the go to s

[2021-05-05 19:29] Download commented on #37
Mmm trying to be too clever.... Sounds like me yes. Sorry.
Harsh words. Painful to hear. But I need to hear it.
@jirutka Sorry to hear you give up. Do you maybe have an actionable tip for me?
Like how should I redesign stuff so it would be more acceptable to you?

[2021-05-05 19:33] Download commented on #30
@toddb Have you checked out [the tutorial](https://ulog.js.org/tutorial)?
Or, maybe the other way around, have you got a pen or repo for me where I can see what you are doing so I can maybe find the bug in ulog, or where you are using it wrong?

[2021-05-05 19:42] toddb commented on #30
I hadn't seen that tutorial before but apart from the lazy loading, it all looks familiar. It could be my build chain and bundling.

[2021-05-05 19:45] Download commented on #65
[The tutorial](https://ulog.js.org/tutorial) contains a section about enabling and disabling log colors.

The command should be

[code]
 The reason for this is that if you change settings programmatically, you use the setting name (`color` in this case), but settings can have an alias for config and the alias for the `color` setting is `log_color`. The reason I chose to use aliases for config is t

[2021-05-05 19:50] Download commented on #65
Also, when you set settings programmatically, you effectively override config. I recommend against it. Basically it's there for testing purposes. You can remove your override with `ulog.set('color', undefined)`. I have doubted for a very long time whether to even include `ulog.set` at all in the API, but I decided that in some scenario's (mostly in unit tests) it would be beneficial to be able to

[2021-05-05 19:58] toddb commented on #37
@Download It really depends on your goals. If you want to be the "goto" for logging in this space, then this probably isn't a technical question. It's a customer question. Are you getting the adoption you want? If not, find out why and act on that (but the warning here is that product work is hard—balancing own vision and listening!)

I thought @jirutka's point was that the logging proposition is

[2021-05-05 20:03] Download commented on #64
I disagree. Whether you are developing an app or a lib, there is no reason to make your dependencies more specific than needed. For 99.9% of logging code, all you need is the anylogger API. I explicitly recommend against writing

[code]

Instead, write

[code]

Both code fragments do effectively exactly the same thing *when using ulog*, but the second code fragment you can change the underlying lo

[2021-05-05 20:09] Download commented on #63
Sorry for taking long to reply. I just got a new job and have been swamped with work.

I am unfortunately not able to easily test in Safari since I own no mac or iPhone.
If you can point me to a way to easily test this, I will definitely try to fix this.
If you are able to dig into this, I will definitely help you merge a PR to fix this.

I am guessing this error maybe actually comes from [kurly](

[2021-05-05 20:18] Vadorequest commented on #37
I can only recommend TypeScript. While a bit complicated to setup, it clearly pays off when being used. Everything is simpler to understand.

[2021-05-05 20:18] Download commented on #62
I have to admit this feature has not been tested very extensively yet.
Did you try with an absolute file path?

I quickly took a look at the code that reads the config and it seems maybe there is a bug there:

[code]
https://github.com/Download/ulog/blob/master/mods/config/read.js#L11

It seems I messed up here. I should have written:

[code]

When using `ulog.get` we should use the setting name (

[2021-05-05 20:22] Download commented on #60
Ok so I did not merge this. Sorry.
The reason is that I noticed that there is a real perf issue, only when you change config and have many loggers.
With a thousand loggers it takes 4 - 8 seconds! That's way too long.

It's better to fix the real perf issue than to hide it behind setTimeout I think.

I have some ideas on how to tackle it but it might make the API for mods (even) more messy.... Then

[2021-05-05 20:24] Download commented on #59
My idea was to test mods completely independent from ulog itself. But I have not been very consistent about this.

[2021-05-05 20:28] Download commented on #30
If you share a project / repo / codepen, I can have a look.

It would be better if it was so easy you would not need my guidance, but I did not succeed in making it easy enough.
Ulog v2 has been in beta for 2 years now (!) but I don't care if it stays in beta for another 2 years, as long as I keep getting valuable feedback like this so I can actually improve it to the point where you can just pick

[2021-05-05 21:46] Download commented on #30
Oh and if you are building with webpack it may help to look at ulogs webpack config file, because that's basically the build for the tutorial project.

[2021-05-05 23:51] Download commented on #37
Well, the good news is that in my new job, Typescript is extensively used. :)

[2021-05-05 23:54] Download commented on #37
@toddb Oh I do wish to target Typescript, but I don't know how. I'm new to Typescript, so I don't know where the pain is. What I need is some hands-on experience. I'll get that in my new job. But it will take some time.

[2021-05-06 06:39] xmedeko commented on #64
I've been working with quite a few loggers in various programming languages and this approach is unusual. IMHO logging facade is needles for the **app** development. You very rarely need to switch logging lib and if so, it may be tedious but not impossible (usually much simpler than e.g. to switch SQL database.). So, IMO the logging facade just brings unnecessary complexity for the **app** develop

[2021-05-06 06:50] xmedeko commented on #65
I am developing an app which is used by non-programmers. So, a user may rarely start the app with `app --logging=debug` and that's all configuration they would like to set. So, all other log config, like log format, is hard coded.

[2021-05-06 14:39] Download commented on #64
Thanks. If you want, you can still write your code directly to ulog of course. But technically to get rid of the dependency from ulog on anylogger would be just not sensible I think. I hope you are ok if I close this. Feel free to comment and request re-open if not.

[2021-05-06 14:39] #64 closed

[2021-05-06 14:52] Download commented on #65
If you want to override the default config (as opposed to hardcode set the setting), I suggest making a small mod that only overrides the default value. The default value in the absence of config is determined by a property `default` on the setting declaration in the formats mod:

[code]
https://github.com/Download/ulog/blob/master/mods/formats/index.js#L24

(the value is stored in the file defaul

[2021-05-06 15:40] xmedeko commented on #65
Yes, that's what I have tried with color but failed, because I have missed the `default` property, because it's not explicitly defined in the color mod https://github.com/Download/ulog/blob/master/mods/colors/index.js#L19:

[code]

It's working now, thanks.

[2021-05-06 20:27] Download commented on #65
Glad you worked it out!

I guess you are referring to the `boolean()` hiding the fact that the default value for it is `'on'`?

[code]
https://github.com/Download/ulog/blob/master/mods/props/boolean.js#L5

Could you maybe suggest a (documentation / code) change that would have helped you more easily understand?
I am looking for feedback in this beta period to try to improve ulog before it finally

[2021-05-07 06:23] xmedeko commented on #65
Yes, it may help reading the code. I think general expectation is that the `boolean()` is default false, so it would help to see the default like you have proposed.

Maybe also add similar case to https://github.com/Download/ulog#mods
There is described the case "That it adds settings", so add a case "That changes default setting".

[2021-05-09 09:45] toddb commented on #30
I am going to recommend that this ticket is closed. The main issue was a library that had earlier versions of ulog and anylogger. Once I upgraded everything, I managed to get it to work. However, I wouldn't say seamlessly. There still needs typings for ulog (if you use typescript) and to include it in bundling if you dependency manage it.

Here's my context to replicate the issue. I created a bran

[2021-05-09 19:33] toddb commented on #30
[Documentation](https://github.com/Download/ulog#log-configuration-syntax) says that caps `DEBUG` can be used to set the log levels. In local storage, keys are case sensitive.

Note: in the `log` form log level is case insensitive.

This issue would also relate to the complete list `log`, `warn`, `info`, `error`.

# Expected Behaviour
Logging based on levels changes when local storage switches are

[2021-05-10 12:02] Download commented on #30
@toddb

Yes. At one single point, you should import/require `ulog`. The [current recommendation](https://github.com/Download/ulog#add-to-entry-point) is to do this as the very first line in your application, what Webpack et all call the 'entry point':

But maybe this recommendation is not clear enough?

Yes, the example shows it like that. And that works, but only when setting an environment varia

[2021-05-12 09:12] Download commented on #30
@toddb Yes I will try to update the docs based on your feedback. I don't think accepting case-insensitive keys on localStorage is a good idea. Honestly, I wish env vars would also simply be case sensitive as it's much simpler (especially as, afaik, there is no easy way to access env vars in a case insensitive manner on Node JS when running on Linux, because you access it like `process.env['some_st

[2021-05-12 19:12] toddb commented on #30
@Download

My point is that current behaviour should be documented as clearly as possible for library users. Clean and clear interfaces.

I put a link there. The configuration has a syntax which can be systematically documented. Inside it there are enumerations, defaults and optionals. You explanation is in natural language and has a particular logic. I would also like something concise and system

[2021-05-12 19:20] toddb opened #66 "No logging message appear (ulog doesn't look to be loaded)"
The documentation for running anylogger assumes anylogger as bundled package where it is directly loaded in the browser and globally available. The problem looks to be that ulog is not actually bundled because the only reference to ulog as the implementation is an import. Bundlers will treeshake the package.

# Expected

Add logging to a project and logging messages will be written to the console

[2021-05-19 03:44] abhi7214 opened #67 "log no longer maps to the console object? log.dir broken?"
In 2.0.0 beta 13, a call to log.dir() used to map to console.dir() in Chrome.

In beta 14 thru 18 this functionality is broken, and I see an error in Chrome's console that says log.dir() is not a valid function. Will this functionality be restored? Or is there a better way to move forward?

[2021-05-19 15:21] Download commented on #67
Yes you are right. I scrapped `log.dir` because it's not used a lot, not compatible with the [anylogger api])(https://github.com/download/anylogger/#anylogger-api) and very specific to the console. `ulog` wants to support other outputs as well and `console.dir` is difficult in that respect.

Not likely. Not in the base package anyway. `ulog` targets some pretty ambitious goals and a small footprin

[2021-05-19 23:03] abhi137 commented on #67
Let me switch to my personal account here.

Yes, I would love to contribute but need your guidance on what all the mod should handle. I will also need to create a simple test development environment for this project. I presume I can start with a simple redirection to console if the object is available? Or I can look at the changes in beta 13 to see what all was removed and handle it more generical

[2021-05-20 02:22] abhi137 commented on #67
I was experimenting, but unable to find the right mod example to create a function on the logger object. Let me know if I am on the right track -

ulog.use({
        extend: {
          dir: function(obj) {
            // Improve later to ensure console exists, and in browser.
            console.dir(obj);
          }
        }
      });

// This works, but not intended.
ulog.dir({ a: 2 })

// Thi

[2021-05-20 20:28] Download commented on #67
Ah yes. `extend` extends the `ulog` function itself.

To create an extra log function on all created loggers, you would have to use the hook function `ext`:

[code]

Now if you do this, your `logger.dir` function will be special. It will not cooperate in the big stuff that `ulog` enables on the other log functions such as coloring, formatting, aligning etc. But maybe that's good since `console.dir

[2021-05-20 20:52] abhi137 commented on #67
I am using ulog for a Chrome extension for this specific project. It is an internal extension for my company, so it won't have public use/reference. I have 100s of "log.dir(object)" peppered through my code, and they are called like this -

`if (log.level >= log.INFO) log.dir(jsObject)`

These stay disabled for production. During development or debugging, I am able to selectively enable these at a

[2021-05-20 21:15] Download commented on #67
Ok I understand. I guess the simplest solution would be to just add the `dir` function via a mod that you add in your entry point.

You can use [the console channel](https://github.com/Download/ulog/blob/master/mods/channels/console.js) in `ulog` to not have to directly deal with the native `console`.

*index.js*

[code]

[2021-05-20 22:00] toddb commented on #66
All your examples are without build chain tools. You just need to be aware of this. IMHO, you are a library builder of a library that is central (to real/professional software) that these days is just about never included as you document. We also use tool chains—thus an import is not enough. Just make a note of this is a bare minimum.

Note: this occurs because you auto register ulog. One way arou

[2021-05-21 07:00] Download commented on #66
I am using Webpack myself in the build of ulog.
Check the [webpack config](https://github.com/Download/ulog/blob/master/webpack.config.js).
Show your code that is not working.

Which is what [the docs about adding to the entry point](https://github.com/Download/ulog#add-to-entry-point) is supposed to be, If it's not good, please elaborate on how to improve it.

So show me your scenario. How can I

[2021-05-24 12:16] mattdocumatt commented on #63
I can't help you more I sent above. I don't understand how to know which file/line causes the error because Webpack magnled it.... But we can meet in Teams/whatever and you can try it on my desktop to decrypt the root cause.

[2021-05-25 16:53] Download commented on #63
You can (temporarily) disable minification:

*webpack.config.js*

[code]

That could also work. What timezone are you in?
I'm in Central European Timezone myself. With daylight savings.

[2021-05-25 17:03] Download commented on #63
When you found the line, you could try hacking the bundle.js to see if you can fix it. That way you can quickly test changes.

[2021-05-31 18:45] Download commented on #67
@abhi137 Feel free to re-open if you want to continue the discussion

[2021-05-31 18:45] #67 closed

[2021-05-31 19:21] abhi137 commented on #67
@Download - I noticed over the weekend that log.log(jsObject) just works and shows the object in Chrome (in an interactive way). This is exactly what I was looking for.

If I set the log level higher, it also automatically hides those from logging.

[2021-06-01 16:27] Download commented on #67
@abhi137

Yes, I think it effectively translates to `log.log(''%o`, jsObject)`.

Never! 😉

If you still like to try to make a mod for this, I'm still willing to support you and add it to this repo.

[2021-06-01 17:11] abhi137 commented on #67
On this one, let’s stay with the existing functionality; log.log works great. I will think of a better mod based on my usage.

Abhi.

[2021-06-11 13:23] nopmop commented on #66
You could say:

[code]

Also say:

`log['level'] = (log as any).ALL`

My two cents.

[2021-06-24 09:00] Download commented on #66
I still fail to see which 'complex setups' have an issue.
Also, I don't really think ProvidePlugin is the answer.
But I haven't actually seen the setup you are using that you have prolems with, so I may be wrong. I would still be very interested in seeing (and cloning, testing) the actual setup you have. Maybe you can share a repo for me to look at?

Yes, this may be true. On the other hand `debug

[2021-07-11 20:33] the0neWhoKnocks opened #68 "Can't remove padding for name"
I've tried the below settings in Node
[code]

Neither remove the padding for `name`. I looked through the source and it appears to be a conflict with the [default padding setting](https://github.com/Download/ulog/blob/2aa34192c1804a143eaf0931fc196c712549a8f0/mods/formats/name.js#L4), and a [Number check you have in formatter](https://github.com/Download/ulog/blob/2aa34192c1804a143eaf0931fc196c7125

[2021-07-24 17:18] Download commented on #68
Sorry for letting you dangle. Been very busy...

I guess the issue is that you want to set padding to zero. I suspect it works with non-zero positive numbers right?
I am open to a PR that changes the number check so it accepts zero.

About formats.... You should be able to create a custom static format that uses the logger.name. But I think fixing the number check would be better for this specific

[2021-07-29 15:05] omnibrain opened #69 "Function is printed instead of logger name"
After a Chrome update ulog suddenly prints the complete formatting function instead of the logger name.

![image](https://user-images.githubusercontent.com/2551508/127516386-2029ff94-9aa1-4261-83db-8b12e4ef1989.png)

The function that is printed (`function() {return fmt(rec)} function() {return fmt(rec)} function() {return fmt(rec)}`) appears to be this one: https://github.com/Download/ulog/blob/m

[2021-07-31 18:36] the0neWhoKnocks commented on #68
Correct, I want to set the padding to zero, and yes it works for non-zero values.

After not hearing anything on this ticket for a while I added this.
[code]
The above is a snippet from a `logger` function that's shared by Client and Server, and `FOR_CLIENT_BUNDLE` is only defined when Client bundles are generated via Webpack.

I also agree that it'd be better to be fixed (hence the open issue), u

[2021-07-31 18:42] the0neWhoKnocks commented on #69
Can confirm. Thought I broke something in a new project.

Not sure if it's related, but I used to be able to see logs by just having the `localStorage` values set, but now I have to use the query param option to see the logs.

[2021-07-31 19:10] the0neWhoKnocks commented on #69
Hm, strange. So if I add the below code (which adds a custom formatter) the output works again
[code]

I was still having to use the query param after the above was added. Since the `ulog.config` approach worked, I decided to add something similar but for the log level. Surprise, it worked.
[code]

Since the above changes wire up ulog's formatting before any logs are emitted, I'm wondering if the

[2021-08-01 09:10] kollster commented on #69
The same issue also applies to the current version of Microsoft Edge: Version 92.0.902.62 (Official build) (64-bit).

[2021-08-02 13:42] Download commented on #68
About your update: Using code like that is not recommended. You bypass everything that way and won't be able to change the formatting using the config mechanisms described in the docs

I know making PRs sucks, but it looks like all you need to do is:
* For this PR
* Clone your fork
* npm install
* Add a test that sets a format with padding set to 0
* npm test
* See it break
* Change the number che

[2021-08-02 13:54] Download commented on #69
I can confirm. Some update to Chrome broke the static formatting feature.

This is a shame. I love correct line numbers next to my log messages. There used to be only one way to achieve that and that was static formatting. Static means that all formatting info is present before the log call is made. I was able to get things like the `perf` formatter, which prints ms elapsed between calls, as stati

[2021-08-02 13:58] Download commented on #69
Yes, it was very important to me as well and AFAIK, `ulog` was the only library out there that had this feature. I was *very* proud of that. Now.... it;s all broken. This actually worked cross-browser back all the way to Internet Explorer. I used this for colors, padding and all those great featured, without mangling the call stack. But in one fell swoop my dream was killed.

Maybe we should all r

[2021-08-02 14:10] Download commented on #69
There might be hope if someone finds an alternative way to have `console.info` and the other native log messages call a function on one of it's parameters.

What I do to avoid messing up the call stack is this:

[code]

Because we use Function.bind instead of wrapping the log function, we preserve the call stack. But alas it's this very feature that Chrome seems to have broken now.

If someone fin

[2021-08-02 14:40] reinhard commented on #69
This prints the right output, but I'm not sure if this solves the problem completely:

[code]

I found this at https://gist.github.com/bgrins/5108712

[2021-08-02 16:04] kollster commented on #69
I have just tried the method https://github.com/Download/ulog/issues/69#issuecomment-891082326 suggested by @reinhard in a multimodule project. It does indeed appear to work without mangling the callstack 👍

[2021-08-05 07:39] kollster commented on #69
@Download , have you seen the findings of @reinhard ? At the moment, I am not familiar enough with the ulog codebase to try implementing a change based on this idea.

[2021-08-13 17:49] Download commented on #69
I can't see how it could work.

The example @reinhard gave will always render the same result.
Try this in the console (try Chrome vs Firefox):

[code]

Notice how `rein` always prints the same number?
We need the console to call the function, not call it ourselves.

[2021-08-19 12:29] Download commented on #69
Reported this as an issue to the Chrome developers:
https://bugs.chromium.org/p/chromium/issues/detail?id=1241395

[2021-08-23 07:47] gonadarian commented on #69
@Download, they marked it as a duplicate of another issue which is already closed as WontFix. They say previous behavior was a bug 🥺.

[2021-08-25 07:31] Download commented on #69
Great news!

I had a discussion about this issue with another developer (the one that created the issue mine was a dupe of) and it turns out that he was able to provide me with another approach. Details here:
https://bugs.chromium.org/p/chromium/issues/detail?id=1223452#c12

It will take some time for me to update this library to use his approach but at least there is a way forward. So expect an u

[2021-09-14 18:23] #69 closed

[2021-09-14 18:56] Download commented on #69
Published a fix in 2.0.0-beta.19

[2021-09-14 19:03] mig8447 commented on #69
Thank you for this fix, very much appreciated

[2021-09-14 20:24] kollster commented on #69
Thank you for the fix! I will try it tomorrow 👍

[2021-09-16 14:39] omnibrain commented on #69
works beautifully 😍 thanks for the fix!

[2021-09-17 06:53] eviltik commented on #66
Got an issue, probably related to that ticket ?

Not working (no log in the console) :
[code]

This works:
[code]

Same thing everywhere (i.e import ulog in index.js and import anylogger in another file)

[2021-09-20 23:11] iva2k opened #71 "Use ESModules instead of module.exports"
Using ulog in Angular triggers this warning:

[code]
'debug' seems to be adding ESModules to v5

https://github.com/visionmedia/debug/issues/786

[2021-09-21 11:31] Download commented on #66
@eviltik
I guess you are including ulog.min.js via a script tag?
That will lazy-load ulog.lazy.min.js and this will give you a short delay in which logging is not yet available.
Please try with ulog.full.min.js and see if it makes a difference for you

[2021-09-21 14:59] Download commented on #71
I'd be open to it. If you can provide guidance on how to do it, please consider opening a PR with a proof of concept.

[2021-09-22 08:37] eviltik commented on #66
@Download no, i've npm install, then i'm using webpack with imports. no lazy load.

[2021-10-05 15:53] Download commented on #66
Is there something you can share, like a Github project, that I can test out?

[2021-10-05 19:52] toddb opened #72 "Logging via format string no longer works, advice please"
@Download in version one, I could write a positional string formatter.

[code]

Now, it seems the default is to use template strings (presumably kurly);

[code]

With my old format, I now get

![image](https://user-images.githubusercontent.com/34390/136091947-213a7153-38e0-4b72-88b6-1cff0667c20d.png)

I can't quite grok how to swap back to the original format. Is is possible?

Cheers

ps I have be

[2021-10-12 07:22] eviltik commented on #66
yep, let me create a simple case

[2021-10-12 07:57] eviltik commented on #66
here it is : https://github.com/eviltik/ulog-test

[2021-10-12 07:59] eviltik commented on #66
main code (src/frontend/index.js)

[code]

"immediate" not written into the console as it should
"delayed 1sec" written into the console as expected.

Thank you

[2021-10-12 20:21] toddb commented on #66
@eviltik here's my code inside a Vue application registration. These logs do get written to the console. There are some very subtle differences and I wonder if that makes a difference (which are the subject of this message). You could try logging 'ulog' to see if you see the same behaviour. (sorry, I see your repo but struggling with time at the moment.)

[code]

[2021-10-13 06:03] toddb commented on #66
@eviltik I also noticed this bug https://github.com/Download/ulog/issues/56

[2021-10-13 06:48] eviltik commented on #66
yes @toddb i noticed this bug too.

@Download what do you think ? thank you

[2021-10-13 18:45] toddb commented on #66
@eviltik I think @Download has put out his design—ulog will just do its thing to "work". It's just not meeting all needs unfortunately.

I'm seeing others ask for async loading, you are looking for sync, I am looking for explicit. :-)

[2021-10-22 08:12] Download commented on #66
Sorry I have been very busy. I will check out your code base later.

We *will* get this fixed.

@toddb I am open to suggestions for changes / improvements, but please make them actionable. And in the past, some have said things like 'just rewrite this in typescript', which I don't think is a reasonable change to suggest. I do like Typescript and foresee a version 3 written in Typescript in the fut

[2021-10-22 08:23] Download commented on #66
@eviltik Took a quick glance at your codebase and it looks fine to me. Don't have the time to dig into it right now but I will. I promise.

Just a heads-up that you cannot combine the lazy loading with the sync behavior that you seek. But afaict from the quick glance at your code, you are not trying to.

I do want sync loading to work. You won't get the 2.7kB footprint (it will be closer to 6kB) b

[2021-10-22 08:55] eviltik commented on #66
thank you  @Download

It's important to fix this bug asap, because since a few months, a user who is testing ulog with webpack for this kind of usage will drop your lib immediately. I'm at this point too right now. Waiting for your fix ! ty

[2021-10-25 20:45] canadaduane opened #73 "Rollup & ulog not working (no log output)"
I can't seem to get rollup & ulog to work. My expectation is that I should install anylogger as a dependency and ulog as a devDependency, then `import "ulog"` followed by `import anylogger from "anylogger"` and create a log object that can be used to log strings. Unfortunately, there is no log message output.

I've written a repro so it can be easier to debug/give guidance:

https://github.com/can

[2022-03-21 01:40] harinair commented on #66
+1
Exact same issue I am experiencing in my React project which is using a npm workspace and monorepo. Any chance this can be fixed?

[2022-04-02 19:32] Download commented on #72
@toddb Sorry for the late response.
Ulog v1 did not support formatters. The formatting syntax you were using is actually console native. Because ulog did not do any formatting of it's own, you could use the positional formatters and they just worked.
Ulog v2 supports colored / formatted output. This uses (abuses) some features of the console. One of which is to rely on positional formatters for th

[2022-04-02 19:42] Download commented on #73
Just checking my repos again in some spare time in the weekend and noticed your issue. Very late I know but I am doing this unpaid and in my spare time...

I cloned your repo and ran it and was confused it did not work. Then I looked at the bundle.js and noticed something strange... It seems that the code for Node JS is being used i.s.o. the code for the browser.

Ulog is using [the `browser` fiel

[2022-04-02 19:56] Download commented on #73
Maybe this is a bug in @rollup/plugin-node-resolve:
https://github.com/rollup/plugins/issues/1098

[2022-06-04 04:53] harinair commented on #66
Any work arounds? No one else facing this issue. I tried pretty much everything and I decided to remove ulog. My belief is it  does not work in a rollup react library setup. Tried a lot of stuff... but I don't want to spend more time on this.

[2022-06-04 04:54] harinair commented on #73
I guess I am also facing this issue... #66 may be related.

[2022-06-06 03:16] toddb commented on #66
@harinair I see a couple of practical solutions. Roll back to ulog v1 (it did everything I wanted and mostly worked). I wouldn't recommend rolling your own Console anylogger implementation because IMHO it needs some logging level configuration that start to be a lot of work (ps I did :-().

I hope there is some sense in there that is useful.